<?xml version="1.0" encoding="utf-8"?>

<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch" />


    <arg name="gui" default="True" />

    <param name="use_gui" value="$(arg gui)" />

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

    <arg name="model" default="$(find catchrobo_description)/robots/catchrobo.urdf.xacro" />
    <arg name="field" default="" />

    <param name="robot_description" command="$(find xacro)/xacro field:=$(arg field) --inorder $(arg model)" />


    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model catchrobo" />


</launch>