<?xml version="1.0"?>
<robot name="catchrobo" xmlns:xacro="http://ros.org/wiki/xacro">


  <xacro:arg name="field" default="" />
  <xacro:property name="field" value="$(arg field)" />

  <xacro:arg name="dummy" default="false" />
  <xacro:property name="dummy" value="$(arg dummy)" />

  <!-- Dependencies -->
  <xacro:include filename="$(find catchrobo_description)/urdf/materials.xacro" />
  <xacro:include filename="$(find catchrobo_description)/urdf/common.xacro" />
  <xacro:include filename="$(find catchrobo_description)/urdf/base.urdf.xacro" />
  <xacro:include filename="$(find catchrobo_description)/urdf/arm.urdf.xacro" />
  <xacro:include filename="$(find catchrobo_description)/urdf/scara.urdf.xacro" />
  <xacro:include filename="$(find catchrobo_description)/urdf/gripper.urdf.xacro" />
  <xacro:include filename="$(find catchrobo_description)/urdf/shooter.urdf.xacro" />

  <!-- Link & Joint -->
  <link name="world" />

  <xacro:base parent="world">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:base>

  <!--<xacro:arm prefix="" parent="base/link_tip">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:arm>-->

  <xacro:scara prefix="" parent="base/robot_tip">
      <!-- <xacro:if value="${dummy=='true'}">
      <origin xyz="0 0 0.019" rpy="0 0 0" />
    </xacro:if>
    <xacro:if value="${dummy=='false'}">
      <origin xyz="0 0 -0.02" rpy="0 0 0" />
    </xacro:if> -->
<!-- <origin xyz="0 0 0.019" rpy="0 0 0" /> -->
<origin xyz="0 0 -0.02" rpy="0 0 0" />
  </xacro:scara>

  <xacro:gripper prefix="" parent="arm/link_tip">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:gripper>

  <xacro:shooter prefix="" parent="base/shooter_tip">
    <!-- <xacro:if value="${dummy=='true'}">
      <origin xyz="0 0 0.039" rpy="0 0 0" />
    </xacro:if>
    <xacro:if value="${dummy=='false'}">
      <origin xyz="0 0 0.0" rpy="0 0 0" />
    </xacro:if> -->

    <!-- honnbann -->
    <origin xyz="0 0 0.0" rpy="0 0 0" />

    <!-- ie -->
          <!-- <origin xyz="0 0 0.039" rpy="0 0 0" /> -->


  </xacro:shooter>

</robot>