controller_list:
  - name: fake_arm0_controller
    type: $(arg execution_type)
    joints:
      - arm/joint1
      - arm/joint2
      - arm/joint3
      - arm/joint4
  - name: fake_hand2_controller
    type: $(arg execution_type)
    joints:
      - gripper/joint2
  - name: fake_hand1_controller
    type: $(arg execution_type)
    joints:
      - gripper/joint1
  - name: fake_shooter_controller
    type: $(arg execution_type)
    joints:
      - guide/joint1
      - sorter/joint1
      - sorter/joint2
      - sorter/joint3
initial:  # Define initial robot poses.
  - group: arm0
    pose: home_red