controller_list:
  - name: fake_arm0_controller
    joints:
      - arm/joint1
      - arm/joint2
      - arm/joint3
      - arm/joint4
      - arm/joint5
  - name: fake_hand2_controller
    joints:
      - gripper/joint2
  - name: fake_hand1_controller
    joints:
      - gripper/joint1