<?xml version="1.0"?>
<robot name="catarm" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Dependencies -->
  <xacro:include filename="$(find catarm_description)/urdf/materials.xacro"/>
  <xacro:include filename="$(find catarm_description)/urdf/common.xacro"/>
  <xacro:include filename="$(find catarm_description)/urdf/base/CAT-BASE-001.urdf.xacro"/>
  <xacro:include filename="$(find catarm_description)/urdf/arm/CAT-ARM-001.urdf.xacro"/>
  <xacro:include filename="$(find catarm_description)/urdf/gripper/CAT-GRIPPER-001.urdf.xacro"/>

  <!-- Link & Joint -->
  <link name="world"/>

  <xacro:base parent="world">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:base>

  <xacro:arm prefix="" parent="base/link_tip">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:arm>

  <xacro:gripper prefix="" parent="arm/link_tip">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:gripper>

</robot>