<launch>

        <node name="gripper_arduino"        pkg="rosserial_python"      type="serial_node.py">
                <param name="port"              type="string"               value="/dev/ttyUSB0"/>
                <param name="baud"              type="int"                  value="57600"/>
        </node>
        <node name="shooter_arduino"        pkg="rosserial_python"      type="serial_node.py">
                <param name="port"              type="string"               value="/dev/ttyACM0"/>
                <param name="baud"              type="int"                  value="57600"/>
        </node>
</launch>