<launch>
<group ns="arm0_controller/">
        <rosparam command="load" file="$(find catchrobo_driver)/config/hardware_config.yaml"/>
        <node name="catchrobo_driver" pkg="catchrobo_driver" type="catchrobo_driver.py" output="screen"/>
        <node name="joy_node" pkg="joy" type="joy_node" output="screen"/>
        <node name="gamepad_ctrl" pkg="catchrobo_driver" type="gamepad_ctrl.py" output="screen"/>
</group>
<node name="serial_node"        pkg="rosserial_python"      type="serial_node.py">
<param name="port"              type="string"               value="/dev/ttyUSB0"/>
<param name="baud"              type="int"                  value="57600"/>
</node>
</launch>
