<launch>
    <include file="$(find catchrobo_bringup)/launch/others.launch">
    <arg name="field" value="blue"/>
    </include>
  
<!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="true" />
    <rosparam param="source_list">[arm0_controller/joint_states]</rosparam>
  </node> -->

</launch>