<launch>
    <node name="joy" pkg="joy" type="joy_node" output="screen"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <!-- <group ns="arm0_controller/">
        <node name="follow_joint_trajectory" pkg="catchrobo_control" type="motoman_control_node" output="screen" />
      </group> -->
      <group ns="arm0_controller/">
        <param name="feedback_rate" value="100"/>
        <param name="trajectory_rate" value="100"/>
        <rosparam param="joints">[arm/joint1, arm/joint2, arm/joint3, arm/joint4, arm/joint5]</rosparam>
        <node name="follow_joint_trajectory" pkg="catchrobo_control" type="my_control_node.py" output="screen" />
        
      </group>

      <!-- <node name="game_manager" pkg="catchrobo_manager" type="game_manager.py" output="screen" >
      </node> -->
      
  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />
  <arg name="field" default="red" />
<param name="color" value="$(arg field)" />

  <!--
  By default, hide joint_state_publisher's GUI

  MoveIt!'s "demo" mode replaces the real robot driver with the joint_state_publisher.
  The latter one maintains and publishes the current joint configuration of the simulated robot.
  It also provides a GUI to move the simulated robot around "manually".
  This corresponds to moving around the real robot without the use of MoveIt.
  -->
  <!-- <arg name="use_gui" default="true" /> -->

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find catchrobo_my_moveit)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true" />
    <arg name="field" value="$(arg field)" />
  </include>

  <!-- Run the main MoveIt! executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(find catchrobo_my_moveit)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true" />
    <arg name="fake_execution" value="false" />
    <arg name="info" value="true" />
    <arg name="debug" value="$(arg debug)" />
  </include>

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find catchrobo_my_moveit)/launch/moveit_rviz.launch">
    <arg name="config" value="true" />
    <arg name="debug" value="$(arg debug)" />
  </include>

  
    <node name="arduino_sim" pkg="catchrobo_driver_sim" type="arduino_sim.py" output="screen" />
<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="true" />
    <rosparam param="source_list">[arm0_controller/joint_states, gripper1_joint_state, gripper2_joint_state, guide_joint_state, sorter1_joint_state, sorter2_joint_state, sorter3_joint_state]</rosparam>
  </node>
<node name="rosbag_record" pkg="rosbag" type="record" output="screen" args="record -o $(find catchrobo_bringup).rosbag -a -x"/> 
</launch>