<launch>
    <arg name="field" default="blue"/>
    <include file="$(find catchrobo_bringup)/launch/others.launch">
      <arg name="field" value="$(arg field)"/>
    </include>
    <group ns="arm0_controller/">
      <node name="robot" pkg="catchrobo_driver_sim" type="joint_controller_sim.py" output="screen" />
    </group>
    <node name="gamepad_ctrl" pkg="catchrobo_manager" type="gamepad_ctrl.py" output="screen"/>
</launch>