<launch>
    <arg name="field" default="blue"/>
    <arg name="dummy" default="false"/>
    <include file="$(find catchrobo_bringup)/launch/others.launch">
      <arg name="field" value="$(arg field)"/>
      <arg name="dummy" value="$(arg dummy)"/>
    </include>
    <group ns="arm0_controller/">
      <node name="robot" pkg="catchrobo_driver_sim" type="joint_controller_sim.py" output="screen" />
    </group>
    <!-- <node name="gamepad_ctrl" pkg="catchrobo_manager" type="gamepad_ctrl.py" output="screen"/> -->
    <!-- <include file="$(find catchrobo_bringup)/launch/rosbag_record.launch" >
      <arg name="file" value="sim"/>
    </include> -->
    <!-- <node name="rosbag_record" pkg="rosbag" type="record" output="screen" args="record -o $(find catchrobo_bringup)/rosbag/sim -a"/>  -->
</launch>