<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Field Side Parameters-->
  <xacro:arg name="field" default=""/>
  <xacro:property name="field" value="$(arg field)" />

  <!-- Constants -->
  <xacro:property name="visual_mesh_scale" value="1.0 1.0 1.0"/>
  <xacro:property name="collision_mesh_scale" value="1.0 1.0 1.0"/>

  <!-- Link & Joint -->
  <xacro:macro name="base" params="parent *joint_origin">
  
    <joint name="base/root" type="fixed">
      <xacro:insert_block name="joint_origin"/>
      <parent link="${parent}"/>
      <child link="base/base_link"/>
    </joint>

    <link name="base/base_link">
      <xacro:if value="${field=='blue'}">
        <visual>
          <geometry>
            <mesh filename="package://catchrobo_description/mesh/base/visual/base_blue_plane.stl" scale="${visual_mesh_scale}"/>
          </geometry>
          <material name="white"/>
        </visual>
        <collision>
          <geometry>
            <mesh filename="package://catchrobo_description/mesh/base/collision/base_blue_plane.stl" scale="${collision_mesh_scale}"/>
          </geometry>
        </collision>
      </xacro:if>

      <xacro:if value="${field=='red'}">
        <visual>
          <geometry>
            <mesh filename="package://catchrobo_description/mesh/base/visual/base_red_plane.stl" scale="${visual_mesh_scale}"/>
          </geometry>
          <material name="white"/>
        </visual>
        <collision>
          <geometry>
            <mesh filename="package://catchrobo_description/mesh/base/collision/base_red_plane.stl" scale="${collision_mesh_scale}"/>
          </geometry>
        </collision>
      </xacro:if>
    </link>

    <joint name="base/robot_tip" type="fixed">
      <parent link="base/base_link"/>
      <child link="base/robot_tip"/>
      <xacro:if value="${field=='blue'}">
        <origin xyz="-0.795 0.390 0.0044" rpy="0 0 0"/>
      </xacro:if>
      <xacro:if value="${field=='red'}">
        <origin xyz="0.795 0.390 0.0044" rpy="0 0 ${180*M_PI/180}"/>
      </xacro:if>
    </joint>
    <link name="base/robot_tip"/>

    <joint name="base/shooter_tip" type="fixed">
      <parent link="base/base_link"/>
      <child link="base/shooter_tip"/>
      <xacro:if value="${field=='blue'}">
        <origin xyz="-1.1775 0.295 -0.0116" rpy="0 0 0"/>
      </xacro:if>
      <xacro:if value="${field=='red'}">
        <origin xyz="1.1775 0.295 -0.0116" rpy="0 0 0"/>
      </xacro:if>
    </joint>
    <link name="base/shooter_tip"/>


    <joint name="base/pc" type="fixed">
      <parent link="base/base_link"/>
      <child link="base/pc"/>
      <xacro:if value="${field=='blue'}">
        <origin xyz="-0.85 0 0.2" rpy="0 0 0"/>
      </xacro:if>
      <xacro:if value="${field=='red'}">
        <origin xyz="0.85 0 0.2" rpy="0 0 0"/>
      </xacro:if>
    </joint>

    <link name="base/pc">
      <visual>
        <geometry>
          <box size="0.25 0.4 0.4"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <material name="grey"/>
      </visual>
    </link>


    <joint name="base/entry_prohibited_area" type="fixed">
      <parent link="base/base_link"/>
      <child link="base/entry_prohibited_area"/>
      <xacro:if value="${field=='blue'}">
        <origin xyz="0.2 0.7 0.4" rpy="0 0 0"/>
      </xacro:if>
      <xacro:if value="${field=='red'}">
        <origin xyz="-0.2 0.7 0.4" rpy="0 0 0"/>
      </xacro:if>
    </joint>

    <link name="base/entry_prohibited_area">
      <visual>
        <geometry>
          <box size="0.1 2.0 0.8"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <material name="entry_prohibited_area"/>
      </visual>
    </link>

  </xacro:macro>
</robot>