<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Field Side Parameters-->
  <xacro:arg name="field" default=""/>
  <xacro:property name="field" value="$(arg field)" />

  <!-- Constants -->
  <xacro:property name="visual_mesh_scale" value="1.0 1.0 1.0"/>
  <xacro:property name="collision_mesh_scale" value="1.0 1.0 1.0"/>

  <!-- Link & Joint -->
  <xacro:macro name="shooter_base" params="parent *joint_origin">
  
    <joint name="shooter_base/root" type="fixed">
      <xacro:insert_block name="joint_origin"/>
      <parent link="${parent}"/>
      <child link="shooter_base/base_link"/>
    </joint>

    <link name="shooter_base/base_link">
      <xacro:if value="${field=='blue'}">
        <visual>
          <geometry>
            <mesh filename="package://catchrobo_description/mesh/shooter/visual/shooter_base_fixed_axis.stl" scale="${visual_mesh_scale}"/>
          </geometry>
          <material name="white"/>
        </visual>
        <collision>
          <geometry>
            <mesh filename="package://catchrobo_description/mesh/shooter/collision/shooter_base_fixed_axis.stl" scale="${collision_mesh_scale}"/>
          </geometry>
        </collision>
      </xacro:if>

      <xacro:if value="${field=='red'}">
        <visual>
          <geometry>
            <mesh filename="package://catchrobo_description/mesh/shooter/visual/shooter_base_fixed_axis.stl" scale="${visual_mesh_scale}"/>
          </geometry>
          <material name="white"/>
        </visual>
        <collision>
          <geometry>
            <mesh filename="package://catchrobo_description/mesh/shooter/collision/shooter_base_fixed_axis.stl" scale="${collision_mesh_scale}"/>
          </geometry>
        </collision>
      </xacro:if>
    </link>

  </xacro:macro>
</robot>