<launch>
    <rosparam command="load" file="$(find catchrobo_control)/config/test.yaml" />
    <node name="hwcontrol" pkg="catchrobo_control" type="catchrobo_control_node" 
    output="screen"/>

<node name="controller_spawner" pkg="controller_manager" 
    type="spawner" respawn="false"
output="screen" 
    args="joint_state_controller arm_joint1_controller arm_joint2_controller arm_joint3_controller arm_joint4_controller arm_joint5_controller"/> 

<node name="robot_state_publisher" pkg="robot_state_publisher" 
    type="robot_state_publisher" respawn="false" output="screen">
</node>

<arg name="color" default="red" />
<param name="color" value="$(arg color)" />


<include file="$(find catchrobo_manager)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true" />
    <arg name="field" value="$(arg color)" />
  </include>



  <include file="$(find catchrobo_moveit)/launch/moveit_rviz.launch">
    <arg name="config" value="true" />
    <arg name="debug" value="false" />
  </include>

</launch>